
*/.DS_Store
.DS_Store
/build/One-Encoder.exe
/build/One-Encoder
/build/One-Encoder.app
/packed/mac/
/packed/linux/
/packed/windows/

!build

# 排除win打包生成的中间文件
One-Encoder.ico
One-Encoder.exe.manifest
One-Encoder-res.syso
One-Encoder.rc
info.plist