
*/.DS_Store
.DS_Store
/build/HLAE-Studio.exe
/build/HLAE-Studio
/build/HLAE-Studio.app
/packed/mac/
/packed/linux/
/packed/windows/

!build

# 排除win打包生成的中间文件
HLAE-Studio.ico
HLAE-Studio.exe.manifest
HLAE-Studio-res.syso
HLAE-Studio.rc
info.plist
/build/
